body{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 8px 10px;
    border: 5px solid white;
    border-bottom: 0px;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0 .8em;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 70px solid #3333aa;
    margin: 0 auto;
    font-size: 35px;
}

#container h1{
    font-size: 40px;
    margin: 0;
}

#post{
    background: #000;
    padding: 1em;
    border: 5px solid white;
    border-top: 0px;
}

#suscription{
    border: 2px solid white;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    text-decoration: none;
    color: white;
}